<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @profile.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @profile.zip %>
</p>

<p>
  <strong>Account Type:</strong>
  <%= @profile.acct_type %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= yesNoBool(@profile.smoker) %>
</p>
<% if current_user.id == @profile.user_id %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> | 
  <%= link_to 'Destroy', profile_path(@profile), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% if current_user.profile.acct_type != 'Rider' %>
     | <%= link_to 'View your Vehicles', user_vehicles_path %>
  <% end %>

<% else %>
<%= link_to 'Back', profiles_path %>
<% end %>

