<div id="content-wrapper" class="mui-text-center">
  <div class="mui-appbar-height"></div>
<div>
  <h1> Edit Profile </h1>
  <%= form_tag(@profile, method: "get") do %>
  <%= text_field_tag('username', 'Create A Username') %><br /><br />
    <%= text_field_tag('fname', 'First Name' )%><br /><br />
      <%= text_field_tag('lname', 'Last Name') %><br /><br />
        <%= text_field_tag('age', 'Age') %><br /><br />
          <%= text_field_tag('city', 'City') %><br /><br />
            <%= text_field_tag('state', 'State') %><br /><br />
              <%= text_field_tag('zip', 'Zip') %><br /><br />
 <%= label_tag('vehicles', 'If you are a driver what type of vehicle(s) do you have? Please separate by commas. e.q Ford Mustang, Chevy Malibu') %><br />
 <%= text_field_tag('vehicles') %><br /><br />
 <%= text_field_tag('vehicles') %><br /><br />
 <%= label_tag('typeofuser',  'Are you a primarily a driver, rider or both?') %><br /><br />
 <%= label_tag('typeofuser', 'Driver') %>
<%= radio_button_tag :typeofuser, "Driver", true %><br />
<%= label_tag('typeofuser', 'Rider') %>
<%= radio_button_tag :typeofuser, "Rider", true %><br />
<%= label_tag('typeofuser', 'Both') %>
<%= radio_button_tag :typeofuser, "Both", true %><br /><br />
 <%= label_tag('passenger', 'How many people can ride with you at one time?') %><br />
 <%= label_tag('passenger', '1 to 2 passengers') %>
 <%= radio_button_tag :passenger, "1 to 2 passengers", true %><br />
 <%= label_tag('passenger', '2 to 3 passengers') %>
 <%= radio_button_tag :passenger, "2 to 3 passengers", true %><br />
 <%= label_tag('passenger', '4 to 5 passengers') %>
 <%= radio_button_tag :passenger, "4 to 5 passengers", true %><br /><br />
  <%= label_tag('smoker', 'Are you a smoker?') %><br />
  <%= label_tag('smoker', 'Yes') %>
  <%= radio_button_tag :smoker, "Yes", true %>
  <%= label_tag('smoker', 'No') %>
  <%= radio_button_tag :smoker, "No", true %><br /><br />
<%= submit_tag "Update Profile" %>
<% end %>
</div>
