<p id="notice"><%= notice %></p>

<h1><%= current_user.username %>'s Fleet</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle Type</th>
      <th>Vehicle Color</th>
      <th>Max. Riders</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_vehicles.each do |user_vehicle| %>
      <tr>
        <td><%= user_vehicle.vehicleType %></td>
        <td><%= user_vehicle.vehicleColor %></td>
        <td><%= user_vehicle.maxRider %></td>
        <td><%= link_to 'Show', user_vehicle %></td>
        <td><%= link_to 'Edit', edit_user_vehicle_path(user_vehicle) %></td>
        <td><%= link_to 'Destroy', user_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a vehicle', new_user_vehicle_path %>
