<h1>Find a Ride</h1>

<%= render "/shared/search" %>

<table id="eventsTable">
  <thead  id="eventTitles">
    <tr>
      <th>Event Date</th>
      <th>Event Time</th>
      <th>Event Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
			<th>Vehicle</th>
			<th>Number Of Riders</th>
      <th>Smoking Allowed</th>
      <th>Driver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_lists.each do |event_list| %>
      <%if event_list.user == current_user %>
        <tr style="color: green">
      <% else %>
        <tr>
      <% end %>
        <td><%= event_list.eventDate %></td>
        <td><%= event_list.eventTime.to_s(:time) %></td>
        <td><%= event_list.eventName %></td>
        <td><%= event_list.streetAddress %></td>
        <td><%= event_list.City %></td>
        <td><%= event_list.State %></td>
				<td><%= event_list.Zip %></td>
				<% if UserVehicle.where(id: event_list.vehicle_id).first %>
  				<td><%= UserVehicle.where(id: event_list.vehicle_id).first.vehicleType %></td>
				<% else %>
					<td></td>
				<% end %>
				<td><%= event_list.nbrOfRiders %></td>
				<td><%= yesNoBool(event_list.smokingAllowed) %></td>
				<td><%= link_to event_list.user.username, profile_path(event_list.user.profile) %></td>
        <td><%= link_to 'Show', event_list %></td>
				<% if event_list.user == current_user %>
        	<td><%= link_to 'Edit', edit_event_list_path(event_list) %></td>
        	<td><%= link_to 'Destroy', event_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% else %>
					<% if RideRequest.exists?(:user_id => current_user, :event_list_id => event_list.id) %>
						<td><%= link_to 'Request Submitted', root_path %></td>
					<% else %>
					<td><%= link_to 'Request a Ride', ride_requests_path(:user_id => current_user, :event_list_id => event_list.id, :confirmed => nil), :method => :post %></td>
					<% end %>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if Profile.exists?(user_id: current_user.id) %>
  <p>** your event(s) are shown in <span style="color: green">green</span></p>
<% end %>
<%= link_to 'Create a new event', new_event_list_path %>
<br>
