<h1>Create a New Event</h1>
<%= form_for(@event_list) do |f| %>
  <% if @event_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_list.errors.count, "error") %> prohibited this event_list from being saved:</h2>
			<ul>
			<% @event_list.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
    </div>
  <% end %>

	<% if current_user.profile.acct_type == 'Both' %>
		<div class="field">
			<%= f.label :eventDriver,'Willing to drive?' %><br>
			<%= f.check_box :eventDriver, {checked: true} %>
		</div>
	<% elsif current_user.profile.acct_type == 'Driver' %>
		<%= f.hidden_field :eventDriver, value: true %>
	<% elsif current_user.profile.acct_type == 'Rider' %>
		<%= f.hidden_field :eventDriver, value: false %>
	<% end %>
		
  <div class="field">
    <%= f.label :eventDate, 'Event Date' %><br>
    <%= f.date_select :eventDate %>
  </div>
  <div class="field">
    <%= f.label :eventTime, 'Event Time' %><br>
    <%= f.time_select :eventTime %>
  </div>
  <div class="field">
    <%= f.label :eventName, 'Event Name' %><br>
    <%= f.text_field :eventName %>
  </div>
  <div class="field">
    <%= f.label :eventDescription, 'Event Description' %><br>
    <%= f.text_area :eventDescription %>
  </div>
	<% if  current_user.profile.acct_type != 'Rider' %>
	<div id="hide" style="display:block;" >
		<div class="control-group">	
				<%= f.label :vehicle_id, 'Vehicle' %>
				<%= collection_select( :event_list, :vehicle_id, current_user.user_vehicles, :id, :vehicleType, {}, { :multiple => false }) %>
		</div>
		<div class="field">
			<%= f.label :nbrOfRiders, 'Rider Count' %><br>
			<%= f.number_field :nbrOfRiders %>
		</div>
		<div class="field">
			<%= f.label :smokingAllowed, 'Smoking Allowed' %><br>
			<%= f.check_box :smokingAllowed %>
		</div>
	</div>
	<% end %>
	<% if current_user.profile.acct_type == 'Both' %>
		<script type="text/javascript">
			var checkbox = document.getElementById('event_list_eventDriver');
			var hide_div = document.getElementById('hide');
			var begin_id = document.getElementById('event_list_vehicle_id').value;
				checkbox.onchange = function(){
					if(this.checked){
						hide_div.style['display'] = 'block';
						document.getElementById('event_list_vehicle_id').value = begin_id;
					}else{
						hide_div.style['display'] = 'none';
						document.getElementById('event_list_vehicle_id').value=0;
						document.getElementById('event_list_nbrOfRiders').value=null;
					}
				};
		</script>
	<% end %>
	<h3>Event Address</h3>
  <div class="field">
    <%= f.label :streetAddress, 'Address' %><br>
    <%= f.text_field :streetAddress %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :State %><br>
    <%= f.collection_select(:State, State.select(:state_name, :state_code), :state_code, :state_name, {class: 'form-control'})%>
  </div>
  <div class="field">
    <%= f.label :Zip %><br>
    <%= f.text_field :Zip %>
  </div>
	<% if  current_user.profile.acct_type == 'Rider' %>
	<h3>Pick Up Address</h3>
  <div class="field">
    <%= f.label :PUstreetAddress, 'Address' %><br>
    <%= f.text_field :PUstreetAddress %>
  </div>
  <div class="field">
    <%= f.label :PUCity, 'City' %><br>
    <%= f.text_field :PUCity %>
  </div>
  <div class="field">
    <%= f.label :PUState, 'State' %><br>
    <%= f.collection_select(:PUState, State.select(:state_name, :state_code), :state_code, :state_name, {class: 'form-control'})%>
  </div>
  <div class="field">
    <%= f.label :PUZip, 'Zip' %><br>
    <%= f.text_field :PUZip %>
  </div>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', :back %>
