<h1><%= @event_list.eventName %></h1>
<p id="notice"><%= notice %></p>
<br><br>

<%= render 'embedeventmap.html.erb' %>

<p>
  <strong>Date:</strong>
  <%= @event_list.eventDate %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event_list.eventTime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_list.eventDescription %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event_list.streetAddress %>
</p>

<p>
  <strong>City:</strong>
  <%= @event_list.City %>
</p>

<p>
  <strong>State:</strong>
  <%= State.where(state_code: @event_list.State).first.state_name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event_list.Zip %>
</p>
<% if @event_list.eventDriver %>
<p>
  <strong># Of Riders:</strong>
  <%= @event_list.nbrOfRiders %>
</p>

<p>
  <strong>Type Of Vehicle:</strong>
	<% if UserVehicle.where(id: @event_list.vehicle_id).first %>
  	<%= UserVehicle.where(id: @event_list.vehicle_id).first.vehicleType %>
	<% end %>
</p>
<% end %>
<% if !@event_list.eventDriver %>
<p>
  <strong>Pick Up Address:</strong>
  <%= @event_list.PUstreetAddress %>
</p>

<p>
  <strong>Pick Up City:</strong>
  <%= @event_list.PUCity %>
</p>

<p>
  <strong>Pick Up State:</strong>
	<% if State.where(state_code: @event_list.PUState).first %>
  <%= State.where(state_code: @event_list.PUState).first.state_name %>
	<% end %>
</p>

<p>
  <strong>Pick Up Zip Code:</strong>
  <%= @event_list.PUZip %>
</p>
<% end %>
<% if @event_list.eventDriver %>
<p>
  <strong>Smoking Allowed:</strong>
  <%= yesNoBool(@event_list.smokingAllowed) %>
</p>
<% end %>
<p>
  <strong>Created By:</strong>
  <%= link_to @event_list.user.username, profile_path(@event_list.user) %>
</p>
<% if @event_list.user == current_user %>
<%= link_to 'Edit', edit_event_list_path(@event_list) %> |
<%end%>
<%= link_to 'Back', :back %>
<% if !@event_list.eventDriver %>
<%= render 'embedpickupmap.html.erb' %>
<% end %>
