<header class="mui-appbar mui--z1">
  <div class="mui-container">
    <table width="100%">
      <tr class="mui--appbar-height">
        <td class="mui--text-title"><%= link_to "Chippewa Valleys Rideshare", root_path %></td>
        <td align="right">

          <div class="mui-list--inline mui--text-body2">
            <div class="mui-dropdown">

              <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown"> Menu
              </button>
              <% if user_signed_in? %>
                <ul class="mui-dropdown__menu">
                  <li><%= link_to 'Profile', root_path %><li>
                  <% if Profile.exists?(user_id: current_user.id) %>
                    <li><%= link_to "Settings", edit_user_registration_path %></li>
                    <li><%= link_to 'Edit Profile', edit_profile_path(current_user.profile.id) %></li>
                    <% if current_user.profile.acct_type != 'Rider' %>
                      <li><%= link_to 'Vehicles', user_vehicles_path %></li>
                    <% end %>
										<li><%=link_to 'Find a User', profiles_path %></li>
										<% if current_user.profile.acct_type == 'Both' %>
                      <li><%=link_to 'Find a Ride', drives_path %></li>
											<li><%=link_to 'Find Passengers', rides_path %></li>
										<% elsif current_user.profile.acct_type == 'Driver' %>
											<li><%=link_to 'Find Passengers', rides_path %></li>
										<% else %>
											<li><%=link_to 'Find a Ride', drives_path %></li>
                    <% end %>
                    <li><%= link_to 'Create New Event', new_event_list_path %></li>
                  <% end %>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              <% else %>
                <ul class="mui-dropdown__menu">
                <li><%= link_to "Ride", static_pages_ride_path %></li>
                <li><%= link_to "Drive", static_pages_drive_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Log in", new_user_session_path %></li>
                </ul>
              <% end %>
          </div>
        </div>
        </td>
      </tr>
    </table>
  </div>
</header>
